
# Created by https://www.gitignore.io/api/osx

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom

### Bundled frontend files
*bundle.js*
*chunk.js*

### Dependencies
/node_modules
/vendor

### Temporary volume folder
mysql_data

### Dependencie managers' file
composer.lock
npm-debug.log

### External repository
environment/docker/images/common/ansible
environment/docker/images/common/php70

### Environment files
*prod.env*

### Dist folder for production
dist
