@import "mixins/noselect";

.background-image{
	min-height: 100vh;
	position: absolute;
	top: 0;
	width: 100vw;
	background-image: url('../images/keyboard.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	filter: blur(5px);
	overflow: hidden;
}

.background-image-overlay{
	min-height: 100vh;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 1;
	background: rgba(0,0,0,0.3);
	overflow: hidden;
}

.index-content{
	position: absolute;
	max-width: 100vw;
	overflow-x: hidden;
	z-index: 2;
}

