@import "mixins/noselect";

html, body{
	background-color: #323232;
	color: #636b6f;
	font-family: 'Raleway';
	font-weight: 100;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/* @include noselect(); */
}